div{
    width: 500px;
    background-color: rgb(138, 138, 138);
    color: white;
    margin: auto;
    border-radius: 20px;


    img{
        display: block;
        max-height: 400px;
        margin: auto;
        padding-top: 20px;
    }
    div{
        max-width: 440px;
        margin: auto;
        padding: 30px;
    }
}